body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 15px;
    /* border: 2px solid black; */
}

.welcome {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}

#buttons-container {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

/* Asegura que el botón "Cercar" sea igual a los demás */
#per_input_i_boto {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.input-text {
    padding: 10px;
    border: 2px solid #080808;
    border-radius: 5px;
    font-size: 16px;
    width: 500px;
    outline: none;
    background-color: white;
}

.btn {
    text-decoration: none;
    background-color: #6BED8D;
    padding: 12px 17px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 16px; /* Igualado al resto de botones */
    /* border: 1px solid gray; */
    transition: background 0.3s;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #3a833d;
    color: white;
}

.icono-cistella {
    width: 24px; /* Ajusta el tamaño del ícono */
    height: 24px;
    vertical-align: middle; /* Alineación correcta */
}


.btn.active {
    background-color: #3a833d; /* Color del hover */
    color: white;
    pointer-events: none; /* Evita clics */
}



/* Contenidor logo */
#logo_home {
    /* position: absolute;  */
    top: 10px;           
    left: 10px;          
    cursor: pointer;     
}

/* Estil logo */
#logo_home img {
    width: 80px;  
    height: 80px; 
    object-fit: contain; /* Assegura que la imatgen no es distorsiones */
    transition: transform 0.2s ease-in-out; /* Efecte suau */
}

/* Efecte hover imatge */
#logo_home img:hover {
    transform: scale(1.1); /* Augmenta ligerament la mida al pasar el mouse */
}

.logo-saludo {
    display: flex;
    align-items: center;
    gap: 8px; /* Ajusta la separación entre el logo y el saludo */
}

h2 {
    padding-left: 80px;
}


#visualitzacio_resum_comanda_cistella {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.producte-resum {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.imatge-producte {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
}

.info-producte {
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
}

.total-final {
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #2c662d;
    border-top: 2px solid #ccc;
    padding-top: 15px;
}

#boto_per_anar_pagament {
    margin-top: 20px;
    text-align: right; 
    padding-right: 70px;
    margin-bottom: 40px;
}

