body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 15px;
    /* border: 2px solid black; */
}

.welcome {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

#buttons-container {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.btn {
    text-decoration: none;
    background-color: #6BED8D;
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    /* border: 1px solid gray; */
    transition: background 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: #3a833d;
    color: white;
}

/* boto actiu (color + foscor i sense hover) */
.btn.active {
    background-color: #3a833d;
    cursor: default;
    pointer-events: none;
    color: white;
}

/* Contenidor logo */
#logo_home {
    /* position: absolute;  */
    top: 10px;           
    left: 10px;          
    cursor: pointer;     
}

/* Estil logo */
#logo_home img {
    width: 80px;  
    height: 80px; 
    object-fit: contain; /* Assegura que la imatgen no es distorsiones */
    transition: transform 0.2s ease-in-out; /* Efecte suau */
}

/* Efecte hover imatge */
#logo_home img:hover {
    transform: scale(1.1); /* Augmenta ligerament la mida al pasar el mouse */
}

.logo-saludo {
    display: flex;
    align-items: center;
    gap: 8px; /* Ajusta la separación entre el logo y el saludo */
}


/* Estil principal del contenidor */
#dades_venedor {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
  
  /* Estils pels labels i inputs */
#dades_venedor label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
  
#dades_venedor input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
  
  /* Estils pels botons */
.btn-verd {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 16px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
  
.btn-verd:hover {
    background-color: #45a049;
}
/* Estil principal del contenidor */
#dades_venedor {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
  
  /* Estils pels labels i inputs */
#dades_venedor label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
  
#dades_venedor input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
  
/* Estils pels botons */
.btn-verd {
    background-color: #4CAF50;
    color: black;
    border: none;
    padding: 10px 16px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: 30px;
}
  
.btn-verd:hover {
    background-color: #3a833d;
    color: white;
}


.btn-marge-esquerra {
    margin-left: 40px;
}

  