body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 15px;
    /* border: 2px solid black; */
}

.welcome {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

#buttons-container {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.btn {
    text-decoration: none;
    background-color: #6BED8D;
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    /* border: 1px solid gray; */
    transition: background 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: #3a833d;
    color: white;
}

/* boto actiu (color + foscor i sense hover) */
.btn.active {
    background-color: #3a833d;
    cursor: default;
    pointer-events: none;
    color: white;
}

#formulari_pujar_producte {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos para etiquetas y campos de entrada */
#formulari_pujar_producte label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

#formulari_pujar_producte input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Estilos para el botón de envío */
#formulari_pujar_producte button {
    width: 100%;
    background-color: #6BED8D;
    color: black;
    font-weight: bold;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#formulari_pujar_producte button:hover {
    background-color: #3a833d;
    color: white;
}

/* Ajustes para los placeholders */
#formulari_pujar_producte input::placeholder {
    font-size: 12px;
    color: #888;
}

/* Contenidor logo */
#logo_home {
    /* position: absolute;  */
    top: 10px;           
    left: 10px;          
    cursor: pointer;     
}

/* Estil logo */
#logo_home img {
    width: 80px;  
    height: 80px; 
    object-fit: contain; /* Assegura que la imatgen no es distorsiones */
    transition: transform 0.2s ease-in-out; /* Efecte suau */
}

/* Efecte hover imatge */
#logo_home img:hover {
    transform: scale(1.1); /* Augmenta ligerament la mida al pasar el mouse */
}

.logo-saludo {
    display: flex;
    align-items: center;
    gap: 8px; /* Ajusta la separación entre el logo y el saludo */
}
